<%- include ('partials/header') %>

<main class="container-main">
    <a href="">
      <img
        class="container-main__img"
        src="/images/Top 14.png"
        alt="Top 14"
      />
    </a>
    <a href="">
      <img
        class="container-main__img"
        src="/images/Pro-D2.png"
        alt="Pro D2"
      />
    </a>
    <a href="">
      <img
        class="container-main__img"
        src="/images/FFR.png"
        alt="FFR"
      />
    </a>
  </main>

<%- include ('partials/footer') %>