<%- include ('partials/header') %>
<main class="container-main">
    <ul class="container-main__list">
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#"><img class="container-main__list__badge" src="/images/Top14/Stade-Toulousain.png" alt=""></a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Stade Rochelais</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Boredeaux-Bègles</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Toulon</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Stade Français</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Racing 92</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Pau</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Castres</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Perpignan</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Bayonne</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Lyon</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Clermont</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Oyonnax</a></li>
      <li class="container-main__list__teams"><a class="container-main__list__team__link" href="#">Montpellier</a></li>
    </ul>
    <a href="top14">
      <img
        class="container-main__img"
        src="/images/Top 14.png"
        alt="Top 14"
      />
    </a>
</main>

<%- include ('partials/footer') %>