:root {
  font-family: "Roboto", sans-serif;
  --color-green: #2a502b;
  --color-yellow: #d5a542;
}

.hidden{
    display: none;
}


/* RESPONSIVE */

/* les ecrans a partir de 320px de large (mobile)*/
@media screen and (min-width: 320px) {
  .container-header {
    padding-left: 1rem;
    background-color: var(--color-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .container-header__title {
    display: flex;
    align-items: center;
  }

  .container-header__title__link {
    text-decoration: none;
    color: white;
    margin: 2rem auto;
  }

  #logo-rugby {
    max-height: 3rem;
  }

  .title-header {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  em {
    font-size: 1rem;
    font-style: italic;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
  }

  /* MENU BURGER TOOGLE BUTTON*/

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
    margin-bottom: 1rem;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }  

  /* MENU BURGER TOGGLE BUTTON FIN*/

  .container-header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .container-header__nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgba(42, 80, 43, .9);
    top: 3rem;
    z-index: 10;
    
}

.container-header__nav__item{    
    text-align: center;
    width: 100vh;
    margin: 1rem auto;
}

.container-header__nav__link{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    margin: 1rem auto;
    border-radius: 5rem;
    transition: 0.3s;
    
  }

  .container-header__nav__link:hover {
    color: var(--color-green);
    font-weight: bold;
    background-color: var(--color-yellow);
  }

  .container-main__img{
    width: 5rem;
  }
}
/* les ecrans a partir de 500px de large (tablet)*/
@media screen and (min-width: 500px) {
}
/* les ecrans a partir de 780px de large (tablet-landscape)*/
@media screen and (min-width: 780px) {
}
/* les ecrans a partir de 1080px de large (laptop)*/
@media screen and (min-width: 1080px) {
}
/* les ecrans a partir de 1600px de large (desktop) */
@media screen and (min-width: 1600px) {
}
